// generic styles
body {
    @include flex-container(column, center, center, wrap);
    header, footer {
        @include flex-container(column, flex-start, flex-start, wrap);
        flex-grow: 0;
        align-self: stretch;
    }
    .layout-wrapper {
        @include flex-container(column, flex-start, flex-start, wrap);
        flex-grow: 1;
        align-self: stretch;
        main {
            @include flex-container(column, flex-start, flex-start, wrap);
            flex-grow: 1;
            align-self: stretch;
            & > section {
                width: 100%;
            }
        }
    }
}

// .page specifics
.page {
    &.error {
        #main {
            @include flex-container(column, center, center, wrap);
            flex-grow: 1;
            align-self: stretch;
            min-height: 100%;
            .container {
                text-align: center;
                h1 {
                    font-size: 10rem;
                    font-weight: 900;
                    color: var(--color-primary);
                }
                h2 {
                    font-size: 3rem;
                    text-transform: uppercase;
                }
                p {
                    font-size: 1.5rem;
                    margin-bottom: $margin * 2;
                }
            }
        }
    }
}