<footer>
    <div class="container boxed">
        <p>© <a href="https://greenpanda.studio" target="_blank">Green Panda Studio</a></p>
    </div>
</footer>
<script src="{{ '/assets/js/togglemode.js' | url }}"></script>
<script src="{{ '/assets/js/headerscroll.js' | url }}"></script>
<script src="{{ '/assets/js/mobile-menu.js' | url }}"></script>
<script src="{{ '/assets/js/search-popup.js' | url }}"></script>
