<div id="footer">
    <footer role="contentinfo">
        <div class="brand container boxed">
            <a href="{{ site.url }}"><img src="{{ '/assets/images/graphic/toaita-2024-95.webp' | url }}" alt="The Odd Ape Gaming"></a>
        </div>
        <div class="footer-nav container boxed">
            {% include 'partials/socialrig.njk' %}
        </div>
        <div class="credits container boxed">
            <p>&copy; 2024 <a href="{{ site.url }}">The Odd Ape Gaming</a>. Tutti i diritti riservati.</p>
        </div>
    </footer>
</div>
<script src="{{ '/assets/js/togglemode.js' | url }}"></script>
<script src="{{ '/assets/js/headerscroll.js' | url }}"></script>
<script src="{{ '/assets/js/mobile-menu.js' | url }}"></script>
<script src="{{ '/assets/js/search-popup.js' | url }}"></script>
