<div id="socialrig" class="social-section">
    <h5>Potete trovare i miei contenuti qui:</h5>
    <ul class="social-wrapper">
        <li data-icon="youtube"><a href="{{ site.youtube }}" target="_blank" rel="noreferrer nofollow noopener"><span>YouTube</span></a></li>
        <li data-icon="twitch"><a href="{{ site.twitch }}" target="_blank" rel="noreferrer nofollow noopener"><span>Twitch</span></a></li>
        <li data-icon="tiktok"><a href="{{ site.tiktok }}" target="_blank" rel="noreferrer nofollow noopener"><span>TikTok</span></a></li>
        <li data-icon="discord"><a href="{{ site.discord }}" target="_blank" rel="noreferrer nofollow noopener"><span>Discord</span></a></li>
        <li data-icon="telegram"><a href="{{ site.telegram }}" target="_blank" rel="noreferrer nofollow noopener"><span>Telegram</span></a></li>
        <li data-icon="patreon"><a href="{{ site.patreon }}" target="_blank" rel="noreferrer nofollow noopener"><span>Patreon</span></a></li>
        <li data-icon="kofi"><a href="{{ site.kofi }}" target="_blank" rel="noreferrer nofollow noopener"><span>KoFi</span></a></li>
    </ul>
</div>

<script src="/assets/js/socialrig.js"></script>