---
permalink: /search.json
eleventyExcludeFromCollections: true
---
[
{%- for page in collections.all -%}
{%- set title = page.data.title or page.fileSlug -%}
{%- set url = page.url -%}
{%- set content = page.templateContent | striptags | replace("\n"," ") | replace("\r"," ") | trim -%}
{%- set excerpt = content | truncate(280, true, "…") -%}
{ "id": "{{ loop.index }}",
  "url": "{{ url }}",
  "title": {{ title | dump | safe }},
  "tags": {{ (page.data.tags or []) | dump | safe }},
  "content": {{ content | dump | safe }},
  "excerpt": {{ excerpt | dump | safe }}
}{% if not loop.last %},{% endif %}
{%- endfor -%}
]
