// Blog
.blog {
    .post {
        border: 1px solid var(--border);
        border-radius: $borderRadius-small;
        background-color: var(--site-bg-2);
        padding: $padding;
        margin-bottom: $margin;
        &:hover {
            background-color: var(--site-bg-3);
        }
        .post-date {
            font-size: 0.75rem;
            color: var(--text-fg);
        }
        .post-title {
            font-size: 1.35rem;
            margin-bottom: 0;
        }
        .post-excerpt {
            color: var(--text-fg);
        }
    }
}
    
    // Single Post
.single-post {
    main {
        max-width: 1024px;
        margin: 0 auto;
        .container {
            max-width: 896px;
            .post-summary {
                h3 {
                    font-size: 1.5rem;
                }
            }
            padding: 0 ($padding * 3);
        }
        section {
            margin-bottom: $margin * 2;
        }
        .featured-image {
            img {
                width: 100%;
                aspect-ratio: 16/7;
                object-fit: cover;
                object-position: center;
            }
        }
        .page-header {
            margin-top: -100px;
            .container {
                background-color: var(--site-bg);
                padding: ($padding * 2) ($padding * 3);
            }
        }
    }
}