// Blog
.blog {
    .post {
        border: 1px solid var(--border);
        border-radius: $borderRadius-small;
        background-color: var(--site-bg-secondary);
        padding: $padding * 0.5;
        margin-bottom: $margin;
        a {
            display: block;
        }
        &:hover {
            background-color: var(--site-bg-hover);
        }
        &__summary {
            padding: $padding * 0.5;
        }
        &__date {
            font-size: 0.75rem;
            color: var(--text-fg);
        }
        &__title {
            font-size: 1.35rem;
            margin-bottom: 0;
        }
        &__excerpt {
            color: var(--text-fg);
        }
        &--listing {
            @include respond-to(smartphone) {
                .post__wrapper {
                    @include flex-container(row, flex-start, flex-start, wrap);
                }
                .post__image {
                    flex-basis: 135px;
                    flex-grow: 0;
                    flex-shrink: 0;
                    margin-right: $padding;
                    img {
                        aspect-ratio: 4/3;
                        object-fit: cover;
                        object-position: center;
                    }
                }
                .post__excerpt {
                    font-size: 0.9rem;
                    line-height: 1.25;
                }
            }
        }
    }
}
    
    // Single Post
.single-post {
    main {
        max-width: 1024px;
        margin: 0 auto;
        .container {
            max-width: 896px;
            &__summary {
                h3 {
                    font-size: 1.5rem;
                }
            }
            padding: 0 ($padding * 3);
        }
        section {
            margin-bottom: $margin * 2;
        }
        .featured-image {
            img {
                width: 100%;
                aspect-ratio: 16/7;
                object-fit: cover;
                object-position: center;
            }
        }
        .page-header {
            margin-top: -100px;
            .container {
                background-color: var(--site-bg);
                padding: ($padding * 2) ($padding * 3);
            }
            &__date {
                font-size: 0.75rem;
            }
        }
    }
    .post {
        &__featured-image {
            margin-bottom: $margin;
        }
        &__date {
            font-size: 0.9rem;
        }
    }
}