<div class="entry entry--listing">
    <a href="{{ post.url }}">
        <div class="entry__wrapper">
        {% if post.data.image %}
            <div class="entry__image">
                {% imageSync "content/media/posts/" + post.data.image, post.data.title, 150 %}
            </div>
        {% endif %}
        <div class="entry__summary">
            <div class="entry__category">{{ post.data.category }}</div>
            <div class="entry__info">
                <div class="entry__author">{{ post.data.author }}</div>
                <span class="entry__separator">•</span>
                <div class="entry__date">{{ post.data.date | date("dd LLLL yyyy") }}</div>
            </div>
            <h2 class="entry__title">{{ post.data.title }}</h2>
        </div>
        </div>
    </a>
</div>