#footer {
    width: 100%;
    padding: $padding * 2;
    footer {
        border: 1px solid white;
        padding: $padding * 4;
    }
    .container {
        @include flex-container(column, center, center, wrap);
    }
    .main-navigation {
        ul {
            @include flex-container();
            a {
                padding: 3px;
            }
        }
        .sub-nav {
            display: none !important;
        }
    }
    #socialrig {
        text-align: center;
        margin: $margin 0;
        h5 {
            display: none;
        }
    }
}