@use 'sass:map';
// _responsive.scss - Solo override globali
@include respond-to(smartphone) {
    body {
      font-size: 16px; // Previene zoom su iOS
    }
    .boxed {
      max-width: map.get($container-max-widths, smartphone);
    }
  }
  
  @include respond-to(tablet) {
    .boxed {
      max-width: map.get($container-max-widths, desktop);
    }
  }