---
title: Neutrino - Electron | Not Fnpm run ound
layout: layouts/base.njk
class: page error
style: error.css
permalink: /404/
---
<section id="main">
    <div class="container boxed">
        <h1>404</h1>
        <h2>Not found</h2>
        <p>It looks like we couldn't find what you were looking for</p>
        <a href="/" class="button">Go to home</a>
    </div>
</section>