---
title: Neutrino - Electron | Not Found
layout: layouts/base.njk
class: error
style: error.css
permalink: /404/
---
<section id="main">
    <div class="container boxed">
        <h1>404</h1>
        <p>Page not found</p>
    </div>
</section>