---
title: Neutrino - Electron | Blog
layout: layouts/base.njk
class: blog
style: blog.css
permalink: /blog/
---
<section>
    <div class="container boxed">
        <h1 class="page-title">Blog</h1>
    </div>
</section>

<section id="blog">
  <div class="container boxed blog-wrapper">
    {% for post in collections.posts | sort(attribute="date", direction="desc") %}
      <div class="post">
        <a href="/blog/{{ post.data.slug }}/">
          <div class="post-wrapper">
            <div class="post-date">{{ post.data.date | date("dd LLLL yyyy") }}</div>
            {% if post.data.image %}
              <img src="/content/posts/{{ post.fileSlug }}/{{ post.data.image }}" alt="{{ post.data.title }}" width="600" loading="lazy">
            {% endif %}

            <div class="post-summary">
              <h2 class="post-title">{{ post.data.title }}</h2>
              <p class="post-excerpt">{{ post.data.description }}</p>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</section>
