---
layout: layouts/base.njk
title: "Neutrino - Boilerplate | Blog"
description: "Latest news, updates, and insights about Neutrino Boilerplate. Stay informed about new features, tutorials, and best practices."
seoTitle: "Blog - Neutrino Boilerplate"
seoDescription: "Read the latest blog posts about Neutrino Boilerplate boilerplate. Updates, tutorials, and insights for developers and content creators."
class: "blog"
style: "blog.css"
permalink: "/blog/"
---
<section>
    <div class="container boxed">
        <h1 class="page-title">Blog</h1>
    </div>
</section>

<section id="blog">
  <div class="container boxed blog-wrapper">
    {% for post in collections.posts | sortBy("date", "desc") %}
      {% include "partials/post-templates/post-listing.njk" %}
    {% endfor %}
  </div>
</section>
