---
title: Neutrino - Electron | Home
layout: layouts/base.njk
class: home
style: home.css
---
<section id="main">
    <div class="container boxed">
        <h1>
            <span>Neutrino</span>
            <span>Electron</span>
        </h1>
        <h2>An Eleventy boilerplate with Decap CMS</h2>
        <div class="paragraph-l">
            <p>Realized with content creators in mind.</p>
        </div>
        <div class="v-spacer"></div>
        <div class="cta-wrapper">
            <a href="#" class="button">Get started</a>
            <a href="#" class="button">Learn more</a>
        </div>
    </div>
</section>

<section>
    <div class="container boxed">
        <p>Se vedi questa pagina, Eleventy sta funzionando.</p>
        <p>Assets: <img src="/assets/logo.png" alt="" /></p>
    </div>
</section>