---
title: Home
layout: layouts/base.njk
---
<h1>{{ site.name }}</h1>
<h2>{{ site.description }}</h2>porkudigel
<p>Se vedi questa pagina, Eleventy sta funzionando.</p>
<p>Assets: <img src="/assets/logo.png" alt="" /></p>
