---
layout: false
title: "Robots.txt"
description: "Robots.txt file for search engine crawlers"
permalink: "/robots.txt"
eleventyExcludeFromCollections: true
---
User-agent: *
Allow: /

Sitemap: {{ site.url }}/sitemap.xml
