---
layout: false
title: "Sitemap"
description: "XML sitemap for search engines"
permalink: "/sitemap.xml"
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">

{% for page in collections.sitemap %}
  <url>
    <loc>{{ site.url }}{{ page.url }}</loc>
    <lastmod>{{ (page.data.lastmod or page.date or site.buildTime) | w3cDate }}</lastmod>
    <changefreq>{{ page.data.changefreq or "monthly" }}</changefreq>
    <priority>{{ page.data.priority or "0.5" }}</priority>
  </url>
{% endfor %}

</urlset>
