<ul>
    <li><a href="/documentation/">Documentation</a></li>
    <li><a href="/documentation/themes/">Themes</a></li>
    <li><a href="/documentation/plugins/">Plugins</a></li>
    <li><a href="/documentation/components/">Components</a></li>
    <li><a href="/documentation/hooks/">Hooks</a></li>
    <li><a href="/documentation/api/">API</a></li>
</ul>