<nav class="documentation-nav">
  <h3>Documentation</h3>
  <ul>
    {% for item in collections.documentation %}
      <li><a href="{{ item.url }}">{{ item.data.title }}</a></li>
    {% endfor %}
  </ul>
</nav>