<nav class="documentation-nav">
  <h3>Documentation</h3>
  <ul>
    <li><a href="/documentation/">Overview</a></li>
    <li><a href="/documentation/installation/">Installation</a></li>
    <li><a href="/documentation/configuration/">Configuration</a></li>
    <li><a href="/documentation/themes/">Themes</a></li>
    <li><a href="/documentation/content-management/">Content Management</a></li>
    <li><a href="/documentation/development/">Development</a></li>
    <li><a href="/documentation/deployment/">Deployment</a></li>
    <li><a href="/documentation/api-reference/">API Reference</a></li>
    <li><a href="/documentation/troubleshooting/">Troubleshooting</a></li>
  </ul>
</nav>