<footer>
    <div class="container boxed">
        <p>© Green Panda Studio</p>
    </div>
</footer>
<script src="{{ '/assets/js/togglemode.js' | url }}"></script>
<script src="{{ '/assets/js/headerscroll.js' | url }}"></script>
<script src="{{ '/assets/js/mobile-menu.js' | url }}"></script>