<footer>
    <div class="container boxed">
        <p>© {{ currentYear }} {{ site.name }} | <a href="{{ site.url }}" target="_blank">{{ site.author }}</a></p>
    </div>
</footer>
<script src="{{ '/assets/js/togglemode.js' | url }}"></script>
<script src="{{ '/assets/js/headerscroll.js' | url }}"></script>
<script src="{{ '/assets/js/mobile-menu.js' | url }}"></script>
<script src="{{ '/assets/js/search-popup.js' | url }}"></script>