<header>
    <div class="container boxed">
        <div class="logo">
            <img src="/assets/logo.png" alt="Logo">
        </div>
        <div class="navigation">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/blog/">Blog</a></li>
                <li><a href="/admin/">Admin</a></li>
            </ul>
        </div>
    </div>
</header>