<div id="main-navigation" class="navigation">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog/">Learn</a></li>
        <li><a href="/blog/">Deploy</a></li>
        <li><a href="/blog/">Showcase</a></li>
        <li><a href="/blog/">Docs</a></li>
        <li><a href="/blog/">Prices</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/documentation/">Documentation</a></li>
        <li><a href="/admin/">Admin</a></li>
    </ul>
</div>