<div id="main-navigation" class="navigation">
    <ul>
        <li><a href="/" aria-label="Home">Home</a></li>
        <li><a href="/pages/style-guide/" aria-label="Style Guide">Style Guide</a></li>
        <li><a href="/documentation/README" aria-label="Documentation">Documentation</a></li>
        <li><a href="/blog/" aria-label="Blog">Blog</a></li>
        <li><a href="/admin/" aria-label="Admin">Admin</a></li>
    </ul>
</div>