<div id="main-navigation" class="navigation">
    <ul class="navigation__level_1">
        <li><a href="/" title="Quesby Home" aria-label="Quesby Home">Home</a></li>
        <li><a href="/pages/style-guide/" title="Quesby Style Guide" aria-label="Quesby Style Guide">Style Guide</a></li>
        <li><a href="/blog/" title="Quesby Blog" aria-label="Quesby Blog">Blog</a></li>
        <li><a href="/admin/" title="Quesby Admin" aria-label="Quesby Admin">Admin</a></li>
    </ul>
</div>