<div class="button" id="search-trigger">
  <span>Search...</span>
</div>
{# Search Popup #}
<div id="search-popup">
  <div id="search">
    <input id="q" type="search" placeholder="Cerca…" autocomplete="off" />
    <ol id="results" class="results"></ol>
  </div>
</div>
<script src="/assets/js/minisearch.min.js"></script>
<script src="/assets/js/search.js" type="module"></script>
