{# Search Popup #}
<div id="search-popup">
  <div id="search">
    <input id="q" type="search" placeholder="Search..." autocomplete="off" />
    <ul id="results" class="results"></ul>
  </div>
</div>
